* {
    box-sizing: border-box;
}

.ludo-container {
    width: 450px;
    margin: 20px auto;
    position: relative; 
}


.ludo {
    height: 440px;
    width: 100%;
    background-image: url('./fcf2f27c-570b-48ce-a13f-b8e83de59672.jpg'); 
    background-size: cover; 
    background-position: center; 
    
    top: 0; 
    left: 0;
    z-index: -1; 
}



.player-pieces {
    height: 15px;
    width: 15px;
}

.player-piece {
    width: 3%;
    height: 3%;
    border: 2px solid;
    border-radius: 10px;
    position: absolute;
    transform: translate(50%, 50%);
    transition: all .2s;

    z-index: 1;

    /* top: 15%;
    left: 50%; */
}
.player-piece.highlight {
    cursor: pointer;
    border: 2px dashed;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    0% {
        transform: translate(50%, 50%) rotate(0deg);
    }
    50% {
        transform: translate(50%, 50%) rotate(180deg) scale(1.4);
    }
    100% {
        transform: translate(50%, 50%) rotate(360deg);
    }
}

[player-id="P1"].player-piece {
    background-color: #2eafff;
}

[player-id="P2"].player-piece {
    background-color: #00b550;
}

[player-id="P3"].player-piece {
    background-color:rgb(13, 13, 13);
}


[player-id="P4"].player-piece {
    background-color:rgb(226, 191, 19);
}


.player-base {
    width: 37%;
    height: 37%;
    border: 5px solid;
    position: absolute;
}

.player-bases [player-id="P1"].player-base {
    bottom: 0;
    left: 0;
    border-color: #1295e7;
    border-radius: 5px;
}

.player-bases [player-id="P2"].player-base {
    bottom: 0;
    right: 0;
    border-color: #0a6c67;
    border-radius: 5px
}


.player-bases [player-id="P3"].player-base {
    top: 0;
    right: 0;
    border-color: #9d081d;
    border-radius: 5px
}

.player-bases [player-id="P4"].player-base {
    top: 0;
    left: 0;
    border-color: #6ea162;
    border-radius: 5px
}


.player-base.highlight {
    animation: border-blink .7s infinite ease-in-out;
}

@keyframes border-blink {
    50% {
        border-color: rgba(255, 255, 255, 0.8);
    }
}

.btn {
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn:disabled {
    opacity: 0.5;
}

.btn-dice {
    background-color: #009d60;
    color: white;
    margin-bottom: 470px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 70px;
}

.dice-value {
    margin: 0 5px;
    font-size: 24px;
    font-weight: bold;
}

.footer{
    position: absolute;
    margin-top: 10px;
}

 .reset-btn{
    height: 40px;
    width: auto;
}


.status-container{
    border:1px solid #009d60;
    background-color: #fff;
    border-radius: 5px;
    width: 450px;
    height: 300px;
    margin: 65px auto;
}